.chat {
    margin-left: 10px;
    width: 300px;
    height: 80vh;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 0 5px 30px rgb(0 0 0 / 20%);
    background: #242526;
    border-radius: 20px;
    padding: 10px;
}
.messages {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: end;
}
.message {
    color: #dcdfe3;
    margin: 1em;
    height: fit-content;
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: #3d4042;
    position: relative;
}

.message::before {
    content: "";
    position: absolute;
    bottom: 0px;
    border-bottom: 8px solid #3d4042;
    left: -9px;
    border-left: 9px solid transparent;
}


.avatar {
    margin: 1em;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.name {
    margin: 0;
}

.message_text {
    margin: 0;
}

.time {
    text-align: end;
    font-size: 11px;
    margin: 0;
}