.defaultBtn {
    width: auto;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 1px -2px, rgb(0 0 0 / 14%) 0 2px 2px 0, rgb(0 0 0 / 12%) 0 1px 5px 0;
    background-color: #1976d1;
    color: white;
    border-radius: 4px;
    padding: 6px 16px;
    text-transform: uppercase;
    letter-spacing: 0.02857em;
    font-size: 0.875rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    margin: 5px;
}

.defaultBtn:hover {
    transition: all 0.5s ease-in-out;
    background-color: #07417a;
}

.red {
    background: red;
}

.red:hover {
    transition: all 0.5s ease-out;
    background: #8c0505;
}

.disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}
.disabled:hover {
    background-color: rgba(0, 0, 0, 0.12);
}